/*==================== DAYCARE ====================*/

.daycare .daycare__container {
  gap: 1rem;
  background-color: #fff;
  margin-top: 5rem;
  padding: 3rem;
  width: 100%;
}

.daycare__content {
  margin-top: 2rem;
  padding-left: 5rem;
  display: flex;

  position: relative;
}

.daycare__content2 {
  margin: 2rem 0;
  padding-left: 5rem;

  display: grid;

  grid-template-columns: 0.5fr 1fr 1fr;
}

.daycare img {
  max-width: 40%;
  max-height: 100%;
}

.img-container {
  display: flex;
  min-width: 50%;
  justify-content: flex-end;
  gap: 1rem;
}

.img-container:nth-child(1) {
  justify-content: flex-start;

  max-width: 50%;
}

.daycare h1 {
  font-size: var(--h1-font-size);

  padding-bottom: var(--mb-1);
}

.daycare p {
}

daycare-data {
  font-size: var(--h2-font-size);
}

.daycare-data:nth-child(2) {
  padding-left: 5rem;
  width: 80%;
}

p.daycare__heading {
  font-weight: var(--font-medium);
  font-family: var(--card-font);
  position: relative;
  margin-bottom: var(--mb-2-5);
}

p.daycare__heading:before {
  content: "";
  position: absolute;
  height: 0.7rem;
  width: 5rem;
  background-color: #000;

  top: 1.5rem;
  left: 0;
}

.head-icon {
  color: #000;
  font-weight: var(--font-bold);
  font-size: 2.5rem;
  padding-left: 3rem;
}

/*
p.services__heading:after {
  content: "";
  position: absolute;
  height: 0.7rem;
  width: 5rem;
  background-color: var(--primary-color-light);

  top: 1.5rem;
  left: 7rem;
}
*/
