/*==================== GOOGLE FONTS ====================*/

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&family=Red+Hat+Text:wght@500&family=Roboto+Slab:wght@500;700&family=Roboto:ital,wght@0,400;0,900;1,300;1,500&display=swap");

/*==================== VARIABLE CSS ====================*/
:root {
  --header-height: 5rem;

  /*========== Colors ==========*/

  --hue-color: 264;

  /* HSL color mode */
  --primary-color: hsl(var(--hue-color), 100%, 50%);
  --primary-color-light: hsl(var(--hue-color), 81.8%, 74.1%);
  --secondary-color: hsl(0, 0%, 78.8%);
  --container-color: #fff;

  /*========== Font and typography ==========*/
  --body-font: "Roboto Slab", serif;
  --nav-font: "Red Hat Text", sans-serif;
  --card-font: "Roboto", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-bold: 700;

  /*========== Margins Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-margin-top: 50px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: rgb(231, 231, 231);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: #fff;
  font-weight: var(--font-bold);
  font-family: var(--nav-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
f img {
  max-width: 100%;
  height: auto;
}

span.primary {
  color: var(--primary-color);
}

/*==================== LAYOUT ====================*/

.container {
  max-width: 1200px;

  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: black;
}

/*==================== REUSABLE CSS CLASSES ====================*/

.section__title {
  font-size: var(--h1-font-size);
  font-family: var(--nav-font);
}

.section__subtitle {
  display: block;
  font-size: var(--h1-font-size);
  font-family: var(--nav-font);
}

.section__title,
.section__subtitle {
  text-align: center;
  color: #fff;
  background-color: #000;
}

.box-shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
}

.primary {
  color: var(--primary-color);
}

/*==================== BUTTONS ====================*/

.button {
  display: inline-block;
  background-color: var(--primary-color);
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: var(--font-bold);
  transition: 0.3s all ease-in;
}

.button:hover {
  filter: hue-rotate(-15deg);
}

.button__icon {
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: 0.3s;
}

.button--flex {
  display: inline-flex;
  align-items: center;

  z-index: 89;
}

.button--small {
  padding: 0.75rem 1rem;
}

.button--link {
  padding: 0;
  background-color: transparent;
  color: var(--first-color);
}

.button--link:hover {
  background-color: transparent;
  color: var(--first-color-alt);
}

/*==================== NAV ====================*/

.nav {
  height: var(--header-height);
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  width: 100%;
}

li.nav__item i:nth-child(2) {
  color: white;
}

.dropdown {
  position: relative;
}

.dropdown ul {
  display: none;
  width: 100%;
  background-color: var(--primary-color);
  font-size: var(--small-font-size);
  position: absolute;
  color: white;
  text-align: center;
  box-shadow: 0 0.5px 0.5px var(--primary-color);
  transition: 0.3s all ease;
}

.dropdown li {
  padding: 0.1rem 0;
  transition: 0.3s all ease;
  text-transform: uppercase;
  font-family: var(--nav-font);
}

.dropdown a {
  text-decoration: none;
  color: #fff;
}

.dropdown a:hover {
  color: var(--primary-color-light);
}

.dropdown:hover ul {
  display: block;
}

/*
.nav__item {
  transform: scale(1.1);
}
*/
.nav__menu {
}

.nav__btns {
  display: flex;
  align-items: center;
}

.nav__btns i {
  color: white;
}

.nav__toggle,
.nav__close {
  display: none;
}

@media screen and (max-width: 650px) {
  .nav__toggle,
  .nav__close {
    display: block;
  }

  .nav__menu {
    position: fixed;
    top: -150%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 2rem;
    box-shadow: 0 0 -1px 4px #fff;
    transition: 0.5s all ease;
  }
}

.nav__list {
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.nav__link {
  display: flex;

  font-family: var(--nav-font);
  flex-direction: row;
  align-items: center;
  font-size: var(--small-font-size);
  color: #fff;
  font-weight: var(--font-medium);
  transition: 0.3s all ease;
}

.nav__link:hover {
  transform: scale(1.2);
  filter: hue-rotate(15deg);
}

i {
  color: var(--primary-color);
}

.nav__link i {
  padding-right: 0.3rem;
}

.nav__logo img {
  width: 40vw;
  max-width: 30rem;
  margin-top: 1.5rem;
}

.nav__close {
  position: absolute;
  right: 1rem;
  top: 3rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
}

.nav__toggle {
  position: absolute;
  right: 1rem;
  top: 2rem;
  font-size: 1.15rem;
  cursor: pointer;
  color: #fff;
}

.show-menu {
  top: 4rem;

  background-color: black;
}

/*==================== HOME ====================*/

.home .home__container {
  gap: 1rem;
  background-color: #000;
}

.home__content {
  margin-top: 2rem;
  align-items: center;
}

.home__data {
  width: 50%;

  grid-column: 1/3;

  padding-left: 5rem;
}

.home__container {
  position: relative;
}

.home__container::before {
  content: "";
  background-image: url(/assets/img/hero.png);

  opacity: 0.2;
  background-size: cover;
  background-position: center;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.home__title {
  font-size: var(--big-font-size);
  padding-top: 5rem;
}

.home__description {
  margin-top: var(--mb-1);
  margin-bottom: var(--mb-2);
  font-size: var(--h3-font-size);
}

.home p {
  color: var(--secondary-color);
}

.home__scroll.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5rem 0;
}

.home__scroll {
  display: block;
}

.home__scroll i {
  color: #fff;
}

.home__scroll-button {
  color: var(--first-color);
  transition: 0.3s;
}

.home__scroll-button:hover {
  transform: translateY(0.25rem);
}

.home__scroll-mouse {
  font-size: 2rem;
}

.home__scroll-name {
  font-size: var(--normal-font-size);
  color: #fff;
  font-weight: var(--font-bold);
  margin-right: var(--mb-0-25);
}

.home__scroll-arrow {
  font-size: 1.25rem;
  color: #000;
}

/*==================== ABOUT ====================*/
.about .about__container {
  padding-top: 5rem;
  gap: 1rem;
  grid-template-columns: repeat(100%, 2fr);

  background-color: #fff;

  padding-bottom: 5rem;
}

.about h1 {
  font-size: var(--h1-font-size);
  padding-bottom: var(--mb-1);
}

p.about-data {
  font-size: var(--h3-font-size);
}
p.about-data2 {
  font-size: var(--h3-font-size);
}

.ul-wrapper {
  display: flex;
}

.about__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 5rem;
  align-items: center;
  flex-wrap: flex;
  padding-bottom: 2rem;
  gap: 3rem;
}

.about-text {
  max-width: 50%;
}

p.about-data:nth-child(4) {
  color: #fff;
}
.about-img__container {
  padding-right: 5rem;
  max-width: 100%;
}
.about-img {
  width: 20rem;
}

.about-data:nth-child(2) {
  color: #fff;
}

.about__content:nth-child(2) {
  background-color: #6600ff;
}

.about__content2 {
  grid-template-columns: 1fr 0.5fr 0.5fr;
  padding-left: 5rem;
  color: #fff;
  max-width: 100vw;
  text-align: left;
  position: relative;
  min-height: 60vh;
  background-color: var(--primary-color);
}

p.h1 {
  font-weight: var(--font-medium);
  font-family: var(--card-font);
  position: relative;
  margin-bottom: var(--mb-2-5);
}

p.about__heading {
  font-weight: 400;
  font-family: var(--nav-font);
  font-size: 2rem;
  position: relative;
  letter-spacing: 4.5px;
}

p.about__heading2 {
  color: var(--primary-color);
  font-weight: var(--font-bold);
  font-family: var(--card-font);
  position: relative;
  margin-bottom: var(--mb-2-5);
}

p.about__heading2:after {
  content: "";
  position: absolute;
  height: 0.7rem;
  width: 5rem;
  background-color: var(--primary-color-light);

  top: 1.5rem;
  left: 7rem;
}

.ul-wrapper {
  padding-right: 5rem;
  flex-wrap: wrap;
}

.ul-container {
  color: #fff;
  max-width: 50%;
}

.ul-container li {
  font-family: var(--nav-font);
  font-weight: 500;
  font-size: var(--h3-font-size);
}

.ul-container li:nth-last-of-type(odd)::before {
  content: "\2022";
  width: 1rem;
  font-size: 1.2rem;
  display: inline-block;
  color: var(--primary-color-light);
}

.ul-container li:nth-last-of-type(even)::before {
  content: "\2022";
  width: 1rem;
  font-size: 1.2rem;
  display: inline-block;
  color: #fff;
}

/*==================== SERVICES ====================*/

.services .services__container {
  gap: 1rem;
  grid-template-columns: repeat(100%, 3fr);

  background: #fff;
}

.services__content {
  margin-top: 2rem;

  position: relative;
  min-height: 60vh;
}

.services h1 {
  font-size: var(--h1-font-size);

  padding-bottom: var(--mb-1);
}

p.services-data {
  font-size: var(--h2-font-size);
}

.services-hero {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

img.services-logo {
  max-width: 30rem;
}

.services-hero__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40%;
}

p.services__heading {
  font-weight: var(--font-bold);
  font-family: var(--card-font);
  font-size: 2rem;
  position: relative;
  letter-spacing: 4.5px;
}

.services__subtitle {
  font-size: 4.7rem;
  font-family: var(--card-font);
  font-weight: 900;
  color: var(--primary-color);
}

.italics {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 100;
  font-family: var(--card-font);
}

/*
p.services__heading:after {
  content: "";
  position: absolute;
  height: 0.7rem;
  width: 5rem;
  background-color: var(--primary-color-light);

  top: 1.5rem;
  left: 7rem;
}
*/

.boximg2 {
  transform: scale(3);
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}
.boximg3 {
  transform: scale(3);
  position: absolute;
  top: 0;
  left: 95%;
}

.linegroup {
  transform: scale(3);

  position: absolute;
  left: 16.9%;
}

.services-heading {
  position: relative;
}

.card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 30%;

  flex-wrap: wrap;

  background-color: #6600ff;
  color: #fff;
  padding: 2rem;
}

.card:nth-child(2) {
  background-color: #8737ff;
}
.card:nth-child(3) {
  background-color: #c39dfc;
}

.card-button:hover {
  transform: scale(1.1);
}

.card ul {
  font-family: var(--nav-font);
  font-size: 1.5rem;
  font-weight: 500;
}

.card ul,
.card p {
  text-align: center;
}

.card p {
  padding: 1rem 0;
  font-family: var(--card-font);
  font-style: italic;
  font-weight: 200;
}

.card img {
  padding-bottom: 1rem;
  width: 5.5rem;
}

.card-button {
  transition: all 0.3s ease;
}

.card-button a {
  padding-top: 0.5rem;
  color: #000;
  font-family: var(--card-font);
  font-style: normal;
  font-weight: 400;
  background-color: #fff;
  padding: 0.5rem 1rem;
}

.background-spacer {
  background-color: var(--primary-color);

  content: "";

  height: 20rem;
}

/*==================== LODGING ====================*/

.lodging .lodging__container {
  gap: 1rem;
  background-color: #fff;
  margin-top: 5rem;
  padding: 3rem;
  width: 100%;
}

.lodging__content {
  margin-top: 2rem;
  padding-left: 5rem;
  display: flex;

  position: relative;
}

.lodging__content2 {
  margin: 2rem 0;
  padding-left: 5rem;

  display: grid;

  grid-template-columns: 0.5fr 1fr 1fr;
}

.lodging img {
  max-width: 40%;
  max-height: 100%;
}

.img-container {
  display: flex;
  min-width: 50%;
  justify-content: flex-end;
  gap: 1rem;
}

.img-container:nth-child(1) {
  justify-content: flex-start;

  max-width: 50%;
}

.lodging h1 {
  font-size: var(--h1-font-size);

  padding-bottom: var(--mb-1);
}

.lodging p {
}

lodging-data {
  font-size: var(--h2-font-size);
}

.lodging-data:nth-child(2) {
  padding-left: 5rem;
  width: 80%;
}

p.lodging__heading {
  font-weight: var(--font-medium);
  font-family: var(--card-font);
  position: relative;
  margin-bottom: var(--mb-2-5);
}

p.lodging__heading:before {
  content: "";
  position: absolute;
  height: 0.7rem;
  width: 5rem;
  background-color: #000;

  top: 1.5rem;
  left: 0;
}

.head-icon {
  color: #000;
  font-weight: var(--font-bold);
  font-size: 2.5rem;
  padding-left: 3rem;
}

/*
p.services__heading:after {
  content: "";
  position: absolute;
  height: 0.7rem;
  width: 5rem;
  background-color: var(--primary-color-light);

  top: 1.5rem;
  left: 7rem;
}
*/
/*==================== FACILITIES ====================*/

.facilities .facilities__container {
  gap: 1rem;
  background-color: #fff;
  margin-top: 5rem;
  padding: 3rem;
  width: 100%;
}

.facilities__content {
  margin-top: 2rem;
  padding-left: 5rem;
  display: flex;

  position: relative;
}

.facilities__content2 {
  margin: 2rem 0;
  padding-left: 5rem;

  display: grid;

  grid-template-columns: 0.5fr 1fr 1fr;
}

.facilities img {
  max-width: 40%;
}

.facilities img:nth-child(1),
.facilities img:nth-child(2) {
  align-self: flex-end;
}

.img-container {
  display: flex;
  min-width: 50%;
  justify-content: flex-end;
  gap: 1rem;
}

.img-container:nth-child(1) {
  justify-content: flex-start;

  max-width: 50%;
}

.facilities h1 {
  font-size: var(--h1-font-size);

  padding-bottom: var(--mb-1);
}

.facilities p {
}

facilities-data {
  font-size: var(--h2-font-size);
}

.facilities-data:nth-child(2) {
  padding-left: 5rem;
  width: 80%;
}

p.facilities__heading {
  font-weight: var(--font-medium);
  font-family: var(--card-font);
  position: relative;
  margin-bottom: var(--mb-2-5);
}

p.facilities__heading:before {
  content: "";
  position: absolute;
  height: 0.7rem;
  width: 5rem;
  background-color: #000;

  top: 1.5rem;
  left: 0;
}

.head-icon {
  color: #000;
  font-weight: var(--font-bold);
  font-size: 2.5rem;
  padding-left: 3rem;
}

/*==================== DAYCARE ====================*/

.daycare .daycare__container {
  gap: 1rem;
  background-color: #fff;
  margin-top: 5rem;
  padding: 3rem;
  width: 100%;
}

.daycare__content {
  margin-top: 2rem;
  padding-left: 5rem;
  display: flex;

  position: relative;
}

.daycare__content:nth-child(2) {
  gap: 5.5rem;
}

.daycare__content2 {
  margin: 2rem 0;
  padding-left: 5rem;

  min-width: 200rem;
  display: grid;

  grid-template-columns: 0.5fr 1fr 1fr;
}

.daycare img {
  max-width: 40%;
  max-height: 100%;
}

.img-container {
  display: flex;
  min-width: 50%;
  justify-content: flex-end;
  gap: 1rem;
}

.img-container:nth-child(1) {
  justify-content: flex-start;

  max-width: 50%;
}

.daycare h1 {
  font-size: var(--h1-font-size);

  padding-bottom: var(--mb-1);
}

.daycare p {
}

daycare-data {
  font-size: var(--h2-font-size);
}

p.daycare__heading {
  font-weight: var(--font-medium);
  font-family: var(--card-font);
  position: relative;
  margin-bottom: var(--mb-2-5);
}

p.daycare__heading:before {
  content: "";
  position: absolute;
  height: 0.7rem;
  width: 5rem;
  background-color: #000;

  top: 1.5rem;
  left: 0;
}

.head-icon {
  color: #000;
  font-weight: var(--font-bold);
  font-size: 2.5rem;
  padding-left: 3rem;
}

/*==================== CONTACT ME ====================*/
.contact__container {
  padding-top: 2rem;
  row-gap: 3rem;
  gap: 1;
  grid-template-columns: repeat(2, 1fr);

  background-color: var(--primary-color);
}

.contact__information {
  display: flex;
  justify-content: center;
  margin-bottom: var(--mb-2);
}

.contact__icon {
  font-size: 2rem;
  color: var(--first-color);
  margin-right: var(--mb-0-75);
}

.contact__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.contact__subtitle {
  font-size: var(--small-font-size);
  color: var(--primary-color-light);
}

.contact__content {
  background-color: var(--input-color);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.25rem;
}

.contact__label {
  font-size: var(--small-font-size);
  font-family: var(--nav-font);
  color: #fff;
}

.contact__input {
  width: 100%;
  background-color: #fff;
  color: #000;
  font-family: var(--body-font);
  font-size: --normal-font-size;
  border: none;

  outline: none;
  padding: 0.25rem 0.5rem 0.5rem 0;
}

.contact .button {
  padding-left: 2rem;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: var(--mb-2);
  background-color: #000;
  transition: 0.3s all ease;
}

.contact .button:hover {
  background-color: var(--primary-color-light);
}

.contact i {
  color: #fff;
}

/*==================== FOOTER ====================*/
ubiso .footer__container {
  row-gap: 3.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.footer__bg {
  background-color: #000;
  padding: 2rem 0 3rem;
}

.footer__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
  padding-left: 5rem;
}

.footer__subtitle {
  font-size: var(--small-font-size);
  padding-left: 5rem;
}

.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding-left: 5rem;
}

.footer__link:hover {
  color: var(--first-color-lighter);
}

.footer__social {
  font-size: 1.25rem;
  margin-right: var(--mb-1-5);
  padding-left: 5rem;
}

.footer__social:hover {
  color: var(--first-color-lighter);
}

.footer__copy {
  font-size: var(--smaller-font-size);
  text-align: center;
  color: #fff;

  margin-top: var(--mb-3);
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social {
  color: #fff;
}

.footer i {
  color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 15rem;
  padding: 0.15rem 0.3rem;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

/*==================== MEDIA QUERIES ====================*/
/* For large devices */

@media screen and (min-width: 1200px) {
  .header,
  .main,
  .footer__container {
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .home__data {
    width: 100%;
    padding-left: 2.5rem;
  }

  .nav__logo img {
    margin-top: 0;
    width: 50vw;
  }
  .home__scroll.container {
    padding: 3rem 0;
  }

  img.services-logo {
    max-width: 15rem;
  }
  .services-hero__text {
    max-width: 40%;
  }

  p.services__heading {
    font-size: 1rem;
    position: relative;
    letter-spacing: 4.5px;
  }

  .services__subtitle {
    font-size: 2.7rem;
  }

  .italics {
    font-size: 1.2rem;
  }

  .services-hero {
    align-items: center;
  }

  .card__container {
    justify-content: center;
    padding-top: 1rem;
  }

  .card {
    max-width: 50%;
  }
  .about-text {
    max-width: 100%;
  }

  .about__content {
    padding: 0 1rem;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .about-img__container {
    padding-right: 0;
    max-width: 100%;
  }

  img.about-img {
    max-width: 100%;
    justify-self: center;
  }

  .ul-wrapper {
    flex-wrap: wrap;
    max-width: 100%;
    gap: 1rem;
    padding-right: 0;
    justify-content: center;
    align-items: center;
  }

  .ul-container {
    width: 100%;
  }

  .ul-container:nth-child(2) {
    padding-bottom: 2rem;
  }
}
@media screen and (min-width: 767px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .nav__icon,
  .nav__close,
  .nav__toggle {
    display: none;
  }

  body {
    margin: 0;
  }

  /*
  .section {
    padding: 5rem 0px 2rem;
  }
  */
  .nav {
    column-gap: 1rem;
  }

  .nav__menu {
    margin-left: auto;
  }

  .home__container {
    row-gap: 5rem;
  }

  .home__content {
    column-gap: 2rem;
  }

  .home__scroll-button {
  }

  .services__container {
    grid-template-columns: repeat(auto, 1fr);
    justify-content: start;
  }
  .footer__bg {
    padding: 3rem 0 3.5rem;
  }

  .nav__list {
    display: flex;
    column-gap: 2rem;
  }
}

@media screen and (max-width: 569px) {
  .nav__logo img {
    margin-top: 0;
    width: 60vw;
  }

  .services__subtitle {
    font-size: 2.7rem;
  }

  .services-hero__text {
    max-width: 100%;
    align-items: center;
  }

  .italics {
    text-align: center;
  }

  .services-hero {
    align-items: center;
  }

  .card {
    max-width: 100%;
  }

  .contact__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .section__subtitle {
    background-color: #6600ff;
    font-size: 1.2rem;
    font-style: italic;
  }
}

@media screen and (min-width: 568px) {
  .home__content {
    grid-template-columns: max-content 1fr 1fr;
  }

  .home__data {
    grid-column: initial;
    max-width: 100%;
  }
}

/* For medium devices */

/* For small devices */

@media screen and (max-width: 420px) {
  .home__scroll.container {
    justify-content: center;
    padding: 0.5rem 0;
  }

  .home__data {
    padding-left: 0.5rem;
  }

  .home__scroll-button {
    padding: 2rem 0;
  }

  .footer__socials {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }

  .footer__title,
  footer__subtitle {
    text-align: center;
    padding: 0;
  }

  .footer__social {
    margin: 0 auto;
    padding: 0;
  }
}
@media screen and (max-width: 350px) {
  .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }

  .nav__list {
    column-gap: 0;
  }

  .home__content {
    grid-template-columns: 0.25fr 3fr;
  }

  img.services-logo {
    max-width: 100%;
  }

  .services-heading {
    font-size: 100%;
  }

  .services-hero {
    max-width: 100%;
  }
}
